<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Roguelite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div class="container">
        {% include "toolbar.html" %}
        <input type="text" id="name" placeholder="Search by name" value="{{ filter_name }}" onkeyup="setupTypingTimer()">
        <table border="1">
            {% for meal in meals %}
            <tr>
                <td><img src="{{ meal['mealThumb'] }}" alt="{{ meal['meal'] }}" width="100"></td>
                <td>{{ meal['meal'] }}</td>
                <td><a href="{{ url_for('meals.edit_meal', meal_id=meal['id']) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
        <div>
            <a href="/?page={{ prev_page }}&per_page={{ per_page }}&name={{ filter_name }}">Previous</a>
            <a href="/?page={{ next_page }}&per_page={{ per_page }}&name={{ filter_name }}">Next</a>
        </div>
    </div>
</body>
</html>